


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 24px;
    padding: 20px 240px;
    
    
}
.header1{
  font-size: 48px;
  font-size: 700;
  color: #F9FAF8;

}


ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    
    display: flex;
    gap: 14px;
    
  }
  a {
    text-decoration: none;
    color: #F9FAF8;
  }

  .contenaire{  
    
    
    display: grid;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 24px;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-areas: "content content sidebar";
    padding: 70px 230px;
  
 }
 .main {
    grid-column: content;
  }

  img
  { 
    
    width: 400px;
    height: 210px;
  }





.testing{
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px;
  
}

.text{  
 
   
    
    margin-bottom: 8px;
}


.bouton{
 
padding: 8px 16px;
border-radius: 8px;
background-color: #3882F6;
color: white;


}   