
body
{
  margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #235037;
    color: #E5E7EB;
    font-size: 24px;
    padding: 20px 240px;
    
    
}
.header1{
  font-size: 48px;
  font-size: 700;
  color: #F9FAF8;

}


ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    
    display: flex;
    gap: 14px;
    
  }
  a {
    text-decoration: none;
    color: #F9FAF8;
  }

  .C1 {
    background-image: url(./Images/TeemoBack1.jpg);
    

    background-size: cover; /* Ajuste la taille de l'arrière-plan pour couvrir la boîte */
    background-position: center; 

  }

  .C2 {
    background-image: url(./Images/TeemoBack2.jpg);
    

    background-size: cover; /* Ajuste la taille de l'arrière-plan pour couvrir la boîte */
    background-position: center; 

  }

  .contenaire{  
    
    
    display: grid;
    
    color: #E5E7EB;
    font-size: 24px;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-areas: "content content sidebar";
    padding: 70px 230px;
    
 }
 .main {
    grid-column: content;
  }

  img
  { 
    
    width: 400px;
    height: 210px;
    
  }





.testing{
  font-size: 18px;
  color: #E5E7EB;
  /* margin: 10px; */
  display: grid;
  justify-items: center;
  /* align-content: space-between; */
  margin: 0px 100px 10px 10px;
}

.text{  

   

   
    margin-bottom: 8px;
}


.bouton{
 
  background-image: url('./Images/Gas.gif'); /* Remplacez 'votre-animation.gif' par le chemin vers votre fichier GIF */
  background-size: cover; /* Ajuste la taille de l'arrière-plan pour couvrir complètement le bouton */
  color: #fff; /* Couleur du texte pour assurer la visibilité */
  padding: 10px 20px; /* Ajoutez du rembourrage pour le bouton */
  border: none; /* Supprime la bordure du bouton si nécessaire */
  text-align: center; /* Centre le texte dans le bouton */
  text-decoration: none; /* Supprime les soulignements par défaut sur le texte du bouton */
  display: inline-block; /* Permet au bouton de s'ajuster automatiquement à la taille du texte */
  cursor: pointer; /* Définissez le curseur sur pointer pour indiquer que le bouton est cliquable */;
  border-radius: 90px;
  margin: 10px;
}

.boxes {
  color: #1F2937;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 25px 300px 25px 300px;
  gap: 50px;
}

.header2{
  font-size: 36px;
  display: flex;
  justify-content: center;
  color: #1F2937;
  padding: 20px;
  font-weight: 800;
  color: white;
}
.text1{

  display: flex;
}

.contenaire1{
  padding: 110px;
  background-color: #689655;
}

.Teemosort {
  display: flex;
  width: 100px;
  height: 100px;
  
  border: 4px solid;
  border-color: goldenrod;
  border-radius: 50px;
  margin-bottom: 5px;
  align-content: center;
}

.contenaire2{
  display: flex;
  justify-content: center;
  padding: 100px 150px 0px;
  
 

}

.quote
{ font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  max-width: 760px;
 color: white;
}

.auteur{
  display: flex;
  justify-content: flex-end;
  
  color: white;
  font-weight: bold;
  padding: 0px 350px 50px 0px;
      
}

.contenaire3
{
  background-color: #689655;
  padding: 85px 230px;
}

.card2
{
  opacity: 70%;
  background-color: black;
  display: block;
  border-radius: 35px;
  color: white;
  padding: 20px 0px 40px 90px;
  
}

h3{
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  margin-bottom: 4px;
  }


  .footer{
    display: flex;
    justify-content: center;
    padding: 40px ;
    background-color: #235037;
    color: white;
    font-size: 18px;
  }

  .tetologo
  {

    width: 130px;
    height: 80px;
    
  }

  .Mushroom{
    width: 30px;
    height: 22px;

  }

 .imagetito1

 {
  margin: 0px 15px;
 }

.sorttext 
{
  display: flex;
    width: 170px;
   color: white;
    margin-top: 20px;
}